@font-face { 
	font-family: "Cardo";
	src:url("fonts/cardo/cardo-regular.woff");
}
@font-face { 
	font-family: "Cardo";
	font-style:italic;
	src:url("fonts/cardo/cardo-italic.woff");
}
@font-face { 
	font-family: "Cardo";
	font-weight:bold;
	src:url("fonts/cardo/cardo-bold.woff");
}

@font-face { 
	font-family: "Blacksword";
	src:url("fonts/Blacksword.otf");
}

body {
	font-family: "Cardo";
	background-image: url("bunting.png");
	background-repeat:no-repeat;
	background-position: top;
	text-align:justify;
	width:50%;
	max-width:800px;
	margin: 0 25% 0 25%;
	color:dimgray
}

 h1,h2,h3{font-family: "Blacksword";
 	   text-align:center;
 }

p {
	font-family: "Cardo";
	text-align:left;
	font-size:1.4em
}

h1 {
	text-align:center;
	margin-top:80px;
	font-size :4em;
	text-indent: 25px
	larger:50%;
	color:dimgray
}

h2{
   text-align:left; 
   font-size :2.5em;
   word-spacing : 25px

}


h3{
	text-align:left;   
   word-spacing : 10px
   font-size :1.5em;
}


}

p{}
img : width:100px
      height:auto

