@font-face { 
	font-family: "OpenSans-Light";
	src:url("fonts/OpenSans-Light.ttf");
}

@font-face { 
	font-family: "Slabo27px-Regular";
	src:url("fonts/Slabo27px-Regular.ttf");
}
* {
	box-sizing: border-box;

}

body{
	background-image:url(img/fond.png);
	
}
h1{
	text-align:center;
}
.container{
	text-align:center;
	width: 50%;
	max-width: 850px;
	margin: 0 auto;
	padding: 0em 1em 1em 1em; 
}

.container h1{
	font-family: "Slabo27px-Regular";
	color:221E1F;
	width:100%;
	margin:0 auto 0 auto;

}
.container p{
	font-family: "OpenSans-Light";
}

#header a{
	color:white;
	font-family: "OpenSans-Light";
	border-color:teal;

}
	

#header {
	font-family: "Slabo27px-Regular";
	background-color:#25b3b4;
	text-align:center;
	clear:left;
	margin:50px;
	padding: 1em 1em 1em 1em; 
	color:white;
}


article{

    
   font-family: "OpenSans-Light";
   text-align:center;
   /*margin:50px;*/
   width: 47%;
   text-align:left;
   float:left;
   padding: 1em 1em 1em 1em; 

}

article img{
	float:left;
}

h2{
	font-family: "Slabo27px-Regular";
	text-align:center;

}

section{
	width: 70%;
	float:left;
	text-align:left;
	padding: 1em 1em 1em 1em; 
	background-color:#E0FFFF;
	
}

#imgaside{
    float:right;
}

aside{
	width: 28%;
	background-color: turquoise;
	color: white;
	margin: 0 0 0 2%;
	float:left;
	text-align:left;
	padding: 1em 1em 1em 1em; 

	

}
/*.column-layout*/


 
 
